<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>DateStamp</th>
            <th>Barber</th>
            <th>Color</th>
        </tr>
    </thead>

    <tbody>
        <%@results.each do |row|%>
            <tr>
                <td><%=row['Name']%></td>
                <td><%=row['DateStamp']%></td>
                <td><%=row['Barber']%></td>
                <td style="background-color: <%= row['Color']%>"><%=row['Color']%></td>
            </tr>
        <%end%>
    </tbody>
</table>